@import "tailwindcss";

@font-face {
  font-family: firacode;
  src: url("./assets/fonts/firacode-variablefont_wght.ttf");
}

* {
  font-family: firacode;
}

.panel {
  @apply bg-[#f5f5f5]
  shadow-sm
  border
  border-blue-100;
}
